/* Style cho thẻ header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: #b0e0e6;
  border-bottom: 1px solid #b0e0e6;
  height: fit-content;
  position: sticky;
  top: 0; /* Giữ header ở trên cùng khi cuộn */
  z-index: 1000;
}

/* Style cho logo và tiêu đề */
.header .logo {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 2px;
}

.header .logo-img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.header .title {
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 20px;
}

/* Style cho navigation */
.header .header-nav {
  display: flex;
}

.header .nav-list {
  display: flex;
  list-style: none;
  margin: 10px 0px 0px 0px;
  padding: 0;
}

.header .nav-item {
  margin: 0 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Các tiêu đề*/
.header .nav-links {
  text-decoration: none;
  color: #4a4a4a;
}

.header .nav-links:hover {
  color: #033239;
}

/* Avatar */
/* Avatar Container */
.header .avatar-container {
  position: relative; /* Để định vị menu bên trong */
}

.header .nav-item .avatar {
  padding: 0px; /* Khoảng cách giữa avatar và viền */
  margin: -2px;
  border-radius: 50%; /* Bo tròn để tạo hình tròn */
  border: 1px solid #ddd; /* Viền mỏng */
  cursor: pointer;
  width: 30px;
  height: 30px;
}
/* Menu dropdown */
.dropdown-menu {
  position: absolute;
  top: 36px; /* Khoảng cách từ avatar đến menu */
  right: 4px; /* Căn phải so với avatar */
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
  width: 180px; /* Chiều rộng menu */
}

.dropdown-menu li {
  list-style: none;
  padding: 12px 16px; /* Khoảng cách trong menu */
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.dropdown-menu li:active {
  background-color: #e0e0e0;
}
