/* Container của InputField */
.account-textbox-input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%; /* Đảm bảo toàn bộ chiều rộng của container */
  max-width: 280px; /* Đặt độ rộng tối đa cố định cho tất cả input */
  margin-right: 20px;
}

/* Label */
.account-textbox-input-field .input-label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

/* Input box */
.account-textbox-input-field .input-box {
  width: 100%; /* Chiều rộng của input field sẽ phù hợp với container */
  max-width: 400px; /* Đặt chiều rộng tối đa */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

/* Hover và focus trạng thái của input */
.account-textbox-input-field .input-box:hover {
  border-color: #348f6c; /* Màu viền khi hover */
}

.account-textbox-input-field .input-box:focus {
  border-color: #348f6c; /* Màu viền khi focus */
  box-shadow: 0 0 4px rgba(52, 143, 108, 0.5); /* Hiệu ứng bóng */
}

@media (max-width: 768px) {
  .account-textbox-input-field {
    max-width: 100%; /* Chiếm toàn bộ chiều rộng màn hình nhỏ */
    margin-bottom: 10px; /* Giảm khoảng cách giữa các input */
  }

  .account-textbox-input-field .input-label {
    font-size: 12px; /* Giảm kích thước font chữ */
  }

  .account-textbox-input-field .input-box {
    font-size: 14px; /* Giảm kích thước font chữ */
    padding: 8px; /* Giảm padding */
  }
}
