.game-container {
  text-align: center;
  padding: 20px;
  background-image: url("../../../assets/images/backgroundgame1.jpg"); /* Link hình nền */
  background-size: cover; /* Phủ kín toàn bộ container */
  background-position: center; /* Căn giữa hình nền */
  background-repeat: no-repeat; /* Không lặp hình nền */
}

.score {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.question {
  margin-bottom: 10px;
}

.question h3 {
  margin-bottom: 20px;
}

.question-image {
  width: 400px;
  height: 250px;
  margin-bottom: 10px;
}

/* CSS cho phần các thẻ đáp án */
.playcards {
  display: grid; /* Sử dụng grid layout */
  grid-template-columns: repeat(4, 1fr); /* Mỗi hàng chứa 2 thẻ */
  gap: 10px; /* Giảm khoảng cách giữa các thẻ (ngang và dọc) */
  justify-content: center; /* Căn giữa grid */
  margin-bottom: 20px;
  justify-items: center;
}

.playcard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 90px;
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  padding: 10px;
  background-color: #f9f9f9;
  margin: 0; /* Xóa khoảng cách ngoài */
}

.playcard:hover {
  background-color: #f0f0f0;
  transform: scale(1.05); /* Hiệu ứng phóng to nhẹ khi hover */
}

.emotion-image {
  width: auto;
  height: 50px; /* Giảm chiều cao hình ảnh */
  margin-right: 10px; /* Giảm khoảng cách giữa hình ảnh và mô tả */
}

.description {
  font-size: 14px; /* Giảm kích thước mô tả */
  color: #333;
}
