.topic4-autism .detecting-autism {
  padding: 20px;
  line-height: 1.6;
  color: #333;
}

.topic4-autism .autism-video {
  margin-bottom: 20px;
  text-align: center;
}

.topic4-autism .autism-content {
  margin-top: 20px;
}

.topic4-autism .autism-content h2 {
  margin-bottom: 15px;
}

.topic4-autism .autism-content h3 {
  color: #555;
  margin-top: 20px;
  margin-bottom: 10px;
}

.topic4-autism .autism-content p {
  margin-bottom: 15px;
}

.topic4-autism .autism-content ul {
  list-style: none;
  padding-left: 0;
}

.topic4-autism .autism-content ul li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.topic4-autism .autism-content ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #007bff;
}

.topic4-autism .autism-content ul li ul {
  margin-left: 20px;
  list-style-type: disc;
}

.topic4-autism .autism-content ul li ul li::before {
  content: "";
}

/* CSS cho ảnh */
.topic4-autism .autism-images {
  display: flex;
  justify-content: center; /* Căn giữa các hình ảnh */
  gap: 20px; /* Khoảng cách giữa hai hình ảnh */
  margin-bottom: 30px;
}

.topic4-autism .autism-images img {
  width: 442px;
  height: auto;
  border-radius: 10px; /* Bo góc hình ảnh */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng hình ảnh */
}
